<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755015709224-4ur43avfbrn287b3ja2fs97f2l0ipniv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755015709224-4ur43avfbrn287b3ja2fs97f2l0ipniv</string>
	<key>API_KEY</key>
	<string>AIzaSyA6lk4mwwhoW0lmFVq8Ia8D0RNcgxSv9ms</string>
	<key>GCM_SENDER_ID</key>
	<string>755015709224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akbarekaputra01.TaskNest-Task-Manager-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>task-nest-task-manager-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>task-nest-task-manager-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755015709224:ios:eeada1381c692abf727b1d</string>
	<key>DATABASE_URL</key>
	<string>https://task-nest-task-manager-swiftui-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>