<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.akbarekaputra01.TaskNest-Task-Manager-SwiftUI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.755015709224-4ur43avfbrn287b3ja2fs97f2l0ipniv</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
